<div id="content">
	<h2>インポート</h2>

	<%= form_for :import, html: {multipart: true} do |f| %>
	<h3>OPMLファイルをアップロード</h3>
	<div class="sub-content">
		<%= f.file_field :opml, name: "opml" %>
		<%= f.submit "インポート" %>
	</div>

	<h3>URLを指定してインポート</h3>
	<div class="sub-content">
		<%= f.text_field :url, name: "url", value: "http://", size: 50 %>
		<%= f.submit "インポート" %>
	</div>
	<% end %>

	<div class="sub-content">
		<h4>注意</h4>
    <p>リストが大量にある場合、インポートに時間がかかります。作業完了までお待ちください。</p>
		<p>If you have many subscription list, it takes time to import. Please wait to finish importing.</p>
	</div>
</div>

